:root {
    --blanc: #eff6f8;
    --bleu-light: #beddeb;
    --orange-light: #f7ba2a;
    --orange: #ff952d;
    --orange-ultra: #ee7f01;
    --orange-dark: #d67e37;
}

@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(../fonts/Atkinson-Hyperlegible-Bold.woff);
}


body{
    margin: 0;
    background-color: var(--orange-light); /* temporarly with that value */
}

h1,h2,h3,h4 {
    font-weight: bold;
    font-family: atkinson hyperlegible;
}








/* -----------------------------------------------
* =============    HEADER    ===============*/

.header {
    font-size: 15px;
    line-height: 1.5;
    color: black !important;
    box-sizing: inherit;
    overflow: hidden;
    background-color: var(--blanc);
    padding: 25px 50px;
    font-family: Montserrat;
    font-weight: 400;
    user-select: none;
}
.header a.logo {
    font-size: 27px;
    user-select: none;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Atkinson Hyperlegible;
    font-weight: bold !important;
    margin-right: 10px;
}
.header a.logo span{
    color: var(--orange-ultra);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    border-radius: 100px;
}

.header-right {
    float: right;
}
.header-connexion{
    margin-right: 35px;
    transition: all .2s ease-in-out;
    padding: 11px 26px !important;
}
.header-connexion:hover{
    background: #0000000f;
    transition: all .2s ease-in-out;
}
.header a.active {
    background-color: var(--orange-ultra);
    color: white;
    padding: 11px 26px !important;
    transition: all .2s ease-in-out;
}
.header a.active:hover {
    background-color: var(--orange-dark);
    transition: all .2s ease-in-out;
}



.nav-item{
    margin: 0 0px 0 40px;
    transition: all .2s ease-in-out;
    opacity:.55;
}
.nav-item:hover{
    transition: all .2s ease-in-out;
    opacity:1;
}






.mobile-nav{
    width:100%;
    height:240px;
    z-index:10;
    position: relative;
    background: var(--orange-ultra);
    font-family: Montserrat;
    font-weight: 400;
}
.menu-extended {
    width: 100%;
    height: 100%;
}
.menu-extended ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.menu-extended li {
    display:table ;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
    list-style: none;
    text-align: center;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}
.menu-extended li a {
    display: table-cell;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
.menu-extended li:hover {
    background: #c48a5c;
}



/* formulaire page accueil */

.container-form{
    width : 100%;
}

.form-index{
    width : 100%;
}

.form-index .btn, .form-index label{
    position : relative;
}

.form-index label{
    border: none;
    background: none;
    top: 0;
    right: 0;
    width : auto;
    height : auto;
}
.form-index label::before, .form-index label::after{
    display :none;
}

.form-index > div{
    display: flex;
    flex-direction: column;
}

.form-index .btn{
    top : 0;
    left : 0;
    width: 70px;
    height : 35px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: #474747;
    border : none;
}

.form-index .btn:hover{
    background-color: black;
}

.container-jeu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item-jeu{
    width : 250px;
    height: 300px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-btn-jeu{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-btn-jeu div a{
    margin : 0 !important;
}

.container-tri a{
    color : black;
    text-align: right;
    margin : 0;
}

.container-tri a:hover{
    color:black;
}

.btn-ajouter-jeu{
    top : 0;
    left : 0;
    width: 110px;
    height : 35px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: #474747;
    border : none;
    border-radius: 0.25rem;
}

.btn-ajouter-jeu:hover{
    background-color: black;
}

>

/* -----------------------------------------------
* =============    FOOTER    ===============*/

footer {
    height: 410px;
    width:100%;
    background-color: var(--blanc);
    padding-top:30px;
    font-family:Montserrat;
    font-weight:400;
    bottom:0;
}
.container{
    padding: 0 17rem;
    padding-bottom: 2em;
    display: grid;
    transition: all 1s ease-out;
    grid-auto-flow: column;
}
footer h4 {
    border-left: .4em solid var(--bleu-light);
    padding-left:15px;
}
footer li {
    margin: 10px 0;
    list-style: none;
    color:black;
}
footer a {
    text-decoration: none;
    color:black;
}
#divider {
    height: 1px;
    width: 60%;
    margin: auto;
    display: flex;
    background-color: black;
    opacity: .2;
}
footer .line {
    display: contents;
}

.social-media {
    margin: auto;
    display: table;
    padding-bottom: 2em;
}
.social-media img {
    width:3rem;
    margin:0 1em;
    transition: transform .2s ease-out;
}
.social-media img:hover {
    margin:0 1em;
    transform: scale(1.2);
    transition: transform .2s ease-out;
}
.mention {
    margin: auto;
    display: table;
    margin-top: 36px;
    opacity:.2;
    letter-spacing: 1px;
    font-family: Atkinson Hyperlegible;
}
.mention span {
    font-family: Montserrat;
    font-weight: 600;
}
.sub-mention {
    margin: auto;
    display: table;
    margin-top: 10px;
    opacity:.2;
    letter-spacing: 1px;
    font-family: Atkinson Hyperlegible;
}









/* -----------------------------------------------
* ============    RESPONSIVNESS    ==============*/





@media screen and (max-width: 1400px) {

    .container {
        padding: 0 5rem 2em 5rem;
    }


}





@media screen and (max-width: 1150px) {

    .header-right {
        display: none;
    }
    .header nav {
        display: none;
    }
    .header a.logo {
        margin:0;
    }



}



@media screen and (min-width: 1150px) {

    #menu{
        display:none !important;
    }
    label{
        display: none;
    }
    #nav-extented{
        display: none !important;
    }


}




@media screen and (max-width: 450px) {

    .header a {
        padding: 12px 0 12px 0;
    }
    .header{
        padding: 25px 18px;
    }
    footer {
        height: 60rem!important;
    }
    footer .line {
        display: flex !important;
        flex-direction: column;
    }

    footer .line {
        display: table !important;
        flex-direction: column;
        margin: auto;
        width: 13rem;
    }
    footer .line ul {
        margin-top:50px;
    }
    footer .line ul a:hover {
        color: #c74824;
        font-weight: 600;
    }



}


@media screen and (max-width: 600px) {

    .container {
        padding: 0 3rem 2em 3rem !important;
        transition: all .6s ease-out;
    }



}




@media screen and (max-width: 800px) {

    .container {
        grid-auto-flow: row !important;
        padding: 0 5rem 2em 5rem;
        transition: all .6s ease-out;
    }
    .line {
        grid-auto-flow: column;
        display: grid !important;
    }
    footer {
        height: 37rem;
    }

}
